*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
.title, .content__video-card-title, .search-form__fieldset-title {
  font-family: 'Oswald', sans-serif;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "result details";
  align-items: end;
  gap: 30px;
}
.result {
  grid-area: result;
}
.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__list {
  position: relative;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-item {
  padding: 0 3px;
}
.content__list > li:not(.content__list-item) {
  margin-top: -30px;
}
.content__list:has(.preloader) {
  overflow: hidden;
}
.result__video-container:has(.preloader) {
  overflow: hidden;
}
.content__video-card {
  display: flex;
  gap: 10px;
}
.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  flex-grow: 1;
}
.content__video-card-title {
  font-size: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.content__video-card-description {
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.title {
  font-size: 75px;
  line-height: 70px;
  font-weight: 700;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  color: inherit;
  text-decoration: none;
  display: block;
}
.content__card-link:hover {
  text-decoration: underline;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.search-form__label:hover, .search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
  width: 225px;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: none;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}
.search-form__submit-button {
  width: 194px;
  height: 34px;
}
.more-button {
  width: 100%;
}
.button:hover {
  text-decoration: underline;
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.content__card-link_current {
  background-color: #545050;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.result__video-container, .content__list {
  position: relative;
}